*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    margin: 50px 0px 0px 0px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
p{
    font-size: 16px;
}

.button{
    color:white;
    background-color: rgb(84, 31, 102);
    border: none;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    position: inherit;
}

.jumbotron{
    text-emphasis: 100%;
    text-emphasis-style: initial;
    font-family: 'Courier New', Courier, monospace;
    height: 550px;
    transition: height 2s;
    background-image: url('../../assets/Images/JumbotromTeste.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron:hover{
    height: 650px;
}

.jumbotron .slogan{
    margin-top: 80px;
    margin-left: 5%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
}

.jumbotron .free-user-test{
    text-align: right;
    margin-top: -8%;
}

.jumbotron .free-user-test .btn{
    color: white;
    background-color: rgb(88, 9, 114);
    max-width: 260px;
    min-height: 30%;
}

.jumbotron .free-user-test .user-test-icon{
    font-size: 130px;
}
.jumbotron .free-user-test h4{
    font-size: 22px;
}
.jumbotron .free-user-test p{
    margin:0;
    font-size: 14px;
}
.block-1{
    display: flex;
    align-items: center;
}

.star-icon{
    color: rgb(71, 9, 92);
    margin-left: 49.45%;
}

.Card-Deck{
    margin: 30px 10px 50px 10px;
}

.Card-Deck .cards{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: inherit;
}

.Card-Deck .cards img{
    width: 100%;
    height: 300px;

}
.Card-Deck .cards .cardBody{
    background-color: #ECECEC;
}

.Card-Deck .cards .cardFooter{
    display: flex;
    justify-content: space-between;
    border: none;
}

.Card-Deck .cards .cardFooter a{
    color: #4F5DDE;
    font-size: 16px;
    margin-top: 10px;
}

.Card-Deck .cards .cardFooter .button{
    border-radius: 5px;
    height: 45px;
    font-weight: normal;
    font-size: 12px;
}

.Card-Deck .cards .cardFooter .button:hover{
    background-color: rgb(71, 9, 92);
}

h2 .plus-icon{
    margin-left: 15px;
    color: rgb(71, 9, 92);
    font-size: 40px;
}
.container-info{
    margin-top: 10px;
    background-image: url("../../assets/Images/about-usbg.jpg");
}

.container-info .Rows{
    display: flex;
    justify-content: space-between;
    background-color: #ECECEC;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
}

.container-info .Rows .img-col{
    padding: 0;
    position: inherit;
}

.container-info .Rows img{
    height: 250px;
    min-width: 560px;
    position: inherit;
}

.container-info .Rows .text-col{
    text-align: center;
    margin-top: 10px;
    position: inherit;
}
.container-info .Rows .text-col{
    text-align: left;
}
.container-info .Rows .text-col p{
    margin-bottom: 0;
}

.container-info .Rows .text-col h3{
    color:rgb(84, 31, 102);
    margin-bottom: 30px;
}

.carousel-container{
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    border-radius: 5px;
    margin: 20px 10px 20px 10px;
    min-height: 300px;
    flex-wrap: wrap;
}

.carousel-container .carousel-item{
    text-align: center;
}

.carousel-container .carousel-item img{
    margin-left: 10px;
    border-radius: 5px;
    height: 15%;
    width: 18%;
}

.company-information{
    margin-top: 30px;
    position: inherit;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.company-information .Rows .cols{
    display: flex;
    justify-content: space-around;
}

.company-information .about-us{
    margin-top: 20px;
    height: 150px;
    border-radius: 5px;
    color: black;
    position: inherit;

}

.company-information .about-us p{
    margin: 10px 5px 0px 0px;
}
.company-information .about-us p{
    color: black;
}

.company-information .Rows .img-group{
    margin-top: 40px;
    margin-bottom: 40px;
}

.company-information .img-group img:hover{
    box-shadow: 0px 2px 4px rgba(84, 31, 102,3);
}
.company-information .img-group img{
    margin-left: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.company-information .our-team{
    margin: 0% 0% 0% 25%;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.company-information .our-team .team-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-information .our-team img{
    margin-top: 15px;
    max-width: 180px;
    border-radius: 48%;
}

.company-information .our-team .team-container .cols .employee-content{
    max-width: 200px;
}
.company-information .our-team .team-container .cols .employee-content p{
    word-break: break-all;
    color: lightslategrey;
}

.container-popover{
    border: 1px solid rgb(219, 219, 219);
}

.container-popover .popover-text{
    text-align: center;
    color: rgb(84, 31, 102);
}

.contact-us{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-us .btn{
    min-width: 20%;
    height: 8%;
    margin: 3% 0% 2% 0%;
    color: white;
    background-color: rgb(84, 31, 102);
}